<%- include("partials/header") -%>

<main id="app-container">
         
    <div id="icon">
    <img src="<%= icon %> " >
    </div>

    <div id="temp">
    <p><strong><%= temperature %> °C </strong></p>
    </div>

    <div id="climate">
    <p><strong><%= climate %></strong></p>
    </div>
</main>






<%- include("partials/footer") -%>